#main {
    width: 47%;
    height: 150px;
    background: radial-gradient(#0068FF, #59A4E2);
    box-shadow: 3px 3px 5px #80B4FF;
    margin:auto;
    margin-top: 80px;
}
#main p
{
    text-align: center;
    font-size: 40px;
    line-height: 150px;
    text-shadow: 1px 1px 5px #333333;
    color: white;
    font-style: bold;
    font-family: 'VT323', monospace; 
}
#back {
    position: absolute;
    top: 25px;
    left: 25px;
}

#back img {    
    width: 30px;
    height: 30px;
}

#score p {
    width: 460px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 15px;
}