#main {
    width: 300px;
    height: 200px;
    background: radial-gradient(#0068FF, #59A4E2);
    box-shadow: 3px 3px 5px #80B4FF;
    margin:auto;
}
#main p
{
    font-size:25px;
    text-align: center;
    height: 100%;
}