.step1 {
    margin: auto;
}

.step1 h1 {
    font-size: 50px;
    padding: 0px 10px 0px 10px;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

.step2 h1 {
    text-align: center;
}

.step2 .pickColor {
    cursor: pointer;
    display: inline-block;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    margin-left: 9px;
    margin-top: 50px;
}

.step2 .pickColor.selected {
    border: 2px solid #888888;
}

.step3 h1 {
    font-size: 25px;
    font-style: bold;
    padding: 0px 10px 0px 10px;
    text-align: center;
    text-transform: uppercase;
}

.step3 img {
    width: 150px;
    height: 150px;
    user-select: none;
    -webkit-user-select: none; 
    margin: auto;
    display: block;
    margin: auto;
}

.step3 .navigation {
    position: absolute;
    top: 80px;
    cursor: pointer;
}

.step3 p.navigation.grayed {
    color: #59A4E2;
}

.step3 .navigation.left {
    left: 10px;
}

.step3 .navigation.right {
    right: 10px;
}

.step3 p.navigation {    
    font-size: 40px;
    /*color: #0068FF;
    text-shadow: 1px 1px 5px #80B4FF;*/
    user-select: none;
    -webkit-user-select: none; 
}

.step3 a {
    width: 49%;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    font-style: bold;
    color: black;
    cursor: pointer;
}

.step3 a.selected {
    background: radial-gradient(#0068FF, #59A4E2);
    color: white;
    border-radius: 15px;
}

.next {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    /*background: radial-gradient(#0068FF, #59A4E2);
    box-shadow: 3px 3px 5px #80B4FF;*/
    cursor: pointer;
}

.next p {
    text-align: center;   
    font-size: 30px; 
    margin-top: 5px;
    text-shadow: 1px 1px 5px #333333;
    color: white;
    font-style: bold;
    font-family: 'VT323', monospace; 
}

/* COLORS */

.blueBg {
    background: radial-gradient(#0068FF, #59A4E2);
    border-radius: 10px;
    color: white !important;
    box-shadow: 3px 3px 5px #80B4FF;
}

.blueFg {
    color: #0068FF;
}

.pinkBg {
    background: radial-gradient(#ff00aa, #f887d2);
    border-radius: 10px;
    color: white !important;
    box-shadow: 3px 3px 5px #ffa5df;
}

.pinkFg {
    color: #ff00aa;
}

.redBg {    
    background: radial-gradient(#E12A2A, rgb(235, 111, 111));
    border-radius: 10px;
    color: white !important;
    box-shadow: 3px 3px 5px #D75A5A;
}

.redFg {
    color: #E12A2A;
}

.orangeBg {
    background: radial-gradient(rgb(250, 150, 0), rgb(233, 183, 75));
    border-radius: 10px;
    color: white !important;
    box-shadow: 3px 3px 5px rgb(223, 184, 126);
}

.orangeFg {
    color: rgb(250, 150, 0);
}

.yellowBg {
    background: radial-gradient(yellow, rgb(255, 255, 171));
    border-radius: 10px;
    color: white !important;
    box-shadow: 3px 3px 5px rgb(231, 231, 147);
}

.yellowFg {
    color: yellow;
}

.greenBg {
    background: radial-gradient(rgb(9, 219, 9), rgb(112, 218, 126));
    border-radius: 10px;
    color: white !important;
    box-shadow: 3px 3px 5px rgb(142, 216, 148);
}

.greenFg {
    color: rgb(9, 219, 9);
}

.blackBg {
    background: radial-gradient(black, #444444);
    border-radius: 10px;
    color: white !important;
    box-shadow: 3px 3px 5px #666666;
}

.blackFg {
    color: black;
}