.large {
    width: 80%;
    height: 80px;
    margin: auto;
}

.large p {
    margin-top: 30px;
    font-size: 40px;
    padding-top: 15px;
}

.small {
    width: 20%;
    height: 40px;
    margin-left: 325px;

}

.small p {
    font-size: 30px;
}

.button {    
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
}

.button p {
    font-family: 'VT323', monospace;
    font-style: bold;
    width: 100%;
    text-align: center;
}