#main {
    width: 210px;
    height: 210px;

    margin-left:130px;
    margin-top: 30px;
}

.bloc {
    height: 100px;
    width: 100px;
    display: inline-block;
}

.bloc#blue {
    background-color: #0000FF;
    border-radius: 0px 0px 100px 0px;
}

.bloc#red {
    background-color: red;
    border-radius: 0px 100px 0px 0px;
}

.bloc#yellow {
    background-color: yellow;
    border-radius: 0px 0px 0px 100px;
}

.bloc#green {
    background-color: green;
    border-radius: 100px 0px 0px 0px;
}

#play {
    margin-left: 155px;
    margin-top: 85px;
}

#play img {
    width: 150px;
    height: 150px;
}

#score {
    width: 70%;
    height: 40px;
    position: absolute;
    bottom: 15px;
    left:15px;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
}

.retour {
    width: 20%;
    height: 40px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
}

.retour p, #score p {
    font-size: 30px;
    margin-top: 0px;
    font-family: 'VT323', monospace;
    font-style: bold;
    width: 100%;
    text-align: center;
}

.large {
    width: 80%;
    height: 80px;
    margin: auto;
}

.large p {
    margin-top: 30px;
    font-size: 40px;
    padding-top: 15px;
}

.small {
    width: 20%;
    height: 40px;
    margin-left: 325px;

}

.small p {
    font-size: 30px;
}

.button {    
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
}

.button p {
    font-family: 'VT323', monospace;
    font-style: bold;
    width: 100%;
    text-align: center;
}