.small {
    width: 20%;
    height: 40px;
}

.small p {
    font-size: 30px;
}

.button {    
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.button p {
    font-family: 'VT323', monospace;
    font-style: bold;
    width: 100%;
    text-align: center;
    margin: 0;
}

#headerContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 5px;
    align-items: center;
}

.amis{
    text-align: right;
    position: relative;
    margin: 5px;
    right: 5px;
    display: inline-block;
    margin-left: auto;
}

#pseudo{
    margin: 5px;
}

#pseudo p{ 
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
}

#avatar{
    width: 50px;
    height: 50px;
    background-color: black;
}

.onglets {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 240px;
}

.onglets button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    width: 80px;
}

.onglets button:hover {
    background-color: #ddd;
}

.onglets button.active {
    background-color: #ccc;
}

.contenuOnglet {
    display: none;
    padding: 5px 10px;
    border: 1px solid #ccc;
    height: 145px;
}

table{
    border-collapse: collapse;
    width: 100%;
}

th{
    height: 20px;
}

th, td{
    padding: 5px;
}

table, th, td{
    border: 1px solid black;
    text-align: center;
}

