.small {
    width: 20%;
    height: 40px;
    margin-left: 325px;

}

.small p {
    font-size: 30px;
}

.button {    
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
}

.button p {
    font-family: 'VT323', monospace;
    font-style: bold;
    width: 100%;
    text-align: center;
}

#tableau{
    background-color: blue;
    background-size: 200px 100px;
}